VITE_ENV=development
VITE_IMAGE_TRANSFORMATION_URL=http://localhost:8000
VITE_SERVER_URL=http://localhost:3000
VITE_WEB_URL=http://localhost:3001
VAPID_PUBLIC_KEY=BL5teM-bXpIXkLvzRgy4Rm9MPV6XSSvMayoxNnxo2pS_DI17l2v5gXujFn4kdESrZ42vrff7lT6cYnmxI0z1it0
VAPID_PRIVATE_KEY=""
VAPID_SUBJECT=mailto:your-email@gmail.com
VITE_PUSHER_KEY=work-holo-key
VITE_PUSHER_HOST=localhost
VITE_PUSHER_PORT=6001
