node_modules
.git
.output
.vinxi
.tanstack
.nitro
dist
build
.env
.env.local
.env.*.local
*.log
*.log.*
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.coverage
.cache
.temp
.tmp
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
README.md
CHANGELOG.md
LICENSE
Dockerfile*
docker-compose*
.dockerignore
.github
.vscode
Makefile
helm-charts
.editorconfig
package-lock.json
yarn.lock
pnpm-lock.yaml
