BETTER_AUTH_SECRET=
RABBITMQ_URL=
BETTER_AUTH_URL=
CORS_ORIGIN=
DATABASE_URL=
REDIS_URL=
REALTIME_GRANT_SECRET=
ENV=
PORT=
RESEND_API_KEY=
WEB_URL=
ELECTRIC_URL=
ELECTRIC_SECRET=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=
