BETTER_AUTH_SECRET=
RABBITMQ_URL=
BETTER_AUTH_URL=
CORS_ORIGIN=
DATABASE_URL=
REDIS_URL=
ENV=
PORT=
RESEND_API_KEY=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_URL=
WEB_URL=
ELECTRIC_URL=
ELECTRIC_SECRET=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=
