BETTER_AUTH_SECRET=
RABBITMQ_URL=
BETTER_AUTH_URL=
CORS_ORIGIN=
DATABASE_URL=
REDIS_URL=
PUSHER_APP_ID=work-holo
PUSHER_APP_KEY=work-holo-key
PUSHER_APP_SECRET=work-holo-secret-must-be-32-chars
PUSHER_HOST=localhost
PUSHER_PORT=6001
ENV=
PORT=
RESEND_API_KEY=
WEB_URL=
ELECTRIC_URL=
ELECTRIC_SECRET=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=
