DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/postgres
RABBITMQ_URL=amqp://admin:admin@localhost:5672
PREFETCH_COUNT=5
READ_RECEIPT_BATCH_SIZE=100
MAX_MEMBERS_FOR_DETAILED_TRACKING=25
NODE_ENV=development
